<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="loginLayout">
<head>
    <title>Sign In</title>
</head>
<body>
<form
        layout:fragment="formContent"
        id="messageForm"
        th:action="@{/login}"
        action="#"
        method="post">
    <h2 class="form-signin-heading">Please sign in</h2>
    <div th:if="${error}"
         class="alert alert-error">
        Incorrect login/password
    </div>
    <input type="email"  id="username" name="username" class="form-control" placeholder="Email address" required="" autofocus=""/>
    <input type="password" id="password" name="password" class="form-control" placeholder="Password" required=""/>
    <input type="hidden" id="targetURL" name="targetURL" th:value="${targetURL}"/>
    <label class="checkbox">
        <input type="checkbox" value="remember-me"> Remember me </input>
    </label>
    <a class="btn btn-xs btn-default btn-block" th:href="@{/user/requestPasswordRecover}" href="index.html">
        Forgot password
    </a>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <a class="btn btn-sm btn-warning btn-block" th:href="@{/user/register}" href="index.html">
        Register
    </a>
</form>

</body>
</html>

