<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="loginLayout">
<head>
    <title>Recover</title>
</head>
<body>
<form
        layout:fragment="formContent"
        id="messageForm"
        th:action="@{/user/recoverPassword}"
        th:object="${recoverPasswordCommand}"
        action="#"
        method="post">
    <h2 class="form-signin-heading">Type new password</h2>
    <div th:if="${#fields.hasErrors('*')}"
         class="alert alert-error">
        <p th:each="error : ${#fields.errors('*')}"
           th:text="${error}">
            Validation error
        </p>
    </div>
    <input type="password"  id="password" name="password" class="form-control" placeholder="new password" required="" autofocus=""/>
    <input type="password"  id="retry" name="retry" class="form-control" placeholder="retry password" required="" autofocus=""/>
    <input type="hidden"  id="token" name="token" th:value="*{token}" value="DT"/>
    <br/>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Change password</button>
</form>
</body>
</html>