<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>it's your personal cabinet</title>
</head>
<body>
<div layout:fragment="jumbotronContent">
    <!--<table>-->
        <!--<tr>-->
            <!--<th>NAME</th>-->
            <!--<th>PRICE</th>-->
            <!--<th>IN STOCK</th>-->
        <!--</tr>-->
        <!--<tr th:each="result : ${result}">-->
            <!--<td th:text="${result.name}">123</td>-->
            <!--<td th:text="${result.price}">1234</td>-->
            <!--<td th:text="${result.inStock}">12345</td>-->
        <!--</tr>-->
    <!--</table>-->
    <ul>
        <li th:each="result : ${results}" th:text="${result}"> result </li>
    </ul>
</div>
<div layout:fragment="containerContent">
    <a class="btn btn-sm btn-warning btn-block" th:href="@{/tester/windowsx64}" href="index.html">
        get tester for windows x64
    </a>
    <a class="btn btn-sm btn-warning btn-block" th:href="@{/tester/windowsx32}" href="index.html">
        get tester for windows x32
    </a>
</div>
</body>
</html>