<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="loginLayout">
<head>
    <title>Create new account on SSD tester</title>
</head>
<body>
    <form layout:fragment="formContent"
          id="messageForm"
          th:action="@{/user/register}"
          th:object="${registerUserCommand}"
          action="#"
          method="post">
        <div th:if="${#fields.hasErrors('*')}"
             class="alert alert-error">
            <p th:each="error : ${#fields.errors('*')}"
               th:text="${error}">
                Validation error
            </p>
        </div>

        <h2 class="form-signin-heading">Type email and password to register</h2>
        <div th:if="${error}"
             class="alert alert-error">
            Incorrect login/password
        </div>
        <input type="email"  id="username" name="username" class="form-control" placeholder="Email address" required="" autofocus=""/>
        <input type="password" id="password" name="password" class="form-control" placeholder="Password" required=""/>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
        <a class="btn btn-sm btn-warning btn-block" th:href="@{/user/login}" href="index.html">
            Back to login
        </a>
    </form>
</body>
</html>