<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Request confirm email</title>
</head>
<body>
<div layout:fragment="jumbotronContent">
    <div class="container">
        <h2>Your not confirm your email, confirm your email to get more possibilities</h2>

        <form id="fastRegister"
              th:action="@{/user/sendEmailConformationLink}"
              action="#"
              method="post">
            <a th:text="${email}">email@a.a</a>
            <button type="submit" class="btn btn-md btn-primary">Send email</button>
        </form>

    </div>
</div>
<div layout:fragment="containerContent">
    <footer>
        <p>&copy; Unit6 Company 2014</p>
    </footer>
</div>
</body>
</html>