<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="loginLayout">
<head>
    <title>Password recover</title>
</head>
<body>
<form
        layout:fragment="formContent"
        id="messageForm"
        th:action="@{/user/sendPasswordRecoverEmail}"
        th:object="${sendPasswordRecoverLinkCommand}"
        action="#"
        method="post">
    <h2 class="form-signin-heading">Type your email to recover password</h2>

    <div th:if="${#fields.hasErrors('*')}"
         class="alert alert-error">
        <p th:each="error : ${#fields.errors('*')}"
           th:text="${error}">
            Validation error
        </p>
    </div>
    <input type="email" id="email" name="email" class="form-control" placeholder="Email address" required=""
           autofocus=""/>
    <br/>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Send recover email</button>
</form>
</body>
</html>