<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="loginLayout">
<head>
    <title>Password recover</title>
</head>
<body>
<form
        layout:fragment="formContent"
        id="messageForm"
        action="#"
        method="post">
    <h2 class="form-signin-heading">Check your email</h2>
    <br/>
    <a class="btn btn-sm btn-warning btn-block" th:href="@{/user/login}" href="index.html">
        login
    </a>
</form>
</body>
</html>