<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="layout">
<head>
    <title>SSDTester</title>
</head>
<body>
<div layout:fragment="jumbotronContent">
    <div class="container">
        <h1>Is your SSD fast?</h1>

        <p>We don't think so.</p>

        <form id="fastRegister"
              th:action="@{/user/registerFast}"
              th:object="${fastRegisterUserCommand}"
              action="#"
              method="post"
              sec:authorize="!isAuthenticated()">
            <div th:if="${#fields.hasErrors('*')}"
                 class="alert alert-error">
                <p th:each="error : ${#fields.errors('*')}"
                   th:text="${error}">
                    Validation error
                </p>
            </div>
            <div class="form-group email">
                <input type="email" id="email" class="form-control" name="email" placeholder="email"/>
            </div>
            <button type="submit" class="btn btn-md btn-primary">Test it now</button>
        </form>
    </div>
</div>
<div layout:fragment="containerContent">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-6">
            <h2>SSD</h2>

            <p>SSD technology uses electronic interfaces compatible with traditional block input/output (I/O) hard disk
                drives, thus permitting simple replacement in common applications. </p>

            <p><a class="btn btn-default" href="http://en.wikipedia.org/wiki/Solid-state_drive" role="button">View
                details &raquo;</a></p>
        </div>
        <div class="col-md-6">
            <h2>SSD</h2>

            <p>SSD technology uses electronic interfaces compatible with traditional block input/output (I/O) hard disk
                drives, thus permitting simple replacement in common applications. </p>

            <p><a class="btn btn-default" href="http://en.wikipedia.org/wiki/Solid-state_drive" role="button">View
                details &raquo;</a></p>
        </div>
    </div>

    <hr/>

    <footer>
        <p>&copy; Unit6 Company 2014</p>
    </footer>
</div>
</body>
</html>
