<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
        lang="en"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Layout</title>
    <link rel="stylesheet"
          th:href="@{/css/bootstrap.min.css}"
          href="../../css/bootstrap.min.css"/>
    <link rel="stylesheet"
          th:href="@{/css/signin.css}"
          href="../../css/signin.min.css"/>
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="@{/}" href="/">SSDTester</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a th:href="@{/}" href="/">Home</a></li>
                <li ><a th:href="@{/user/personalCabinet}" href="/user/personalCabinet">Personal cabinet</a></li>
                <li ><a th:href="@{/learnMore}" href="/learnMore">learn more</a></li>
            </ul>
            <form class="navbar-form navbar-right" role="form"
                  layout:fragment="formContent"
                  id="messageForm"
                  th:action="@{/login}"
                  action="#"
                  method="post"
                  sec:authorize="!isAuthenticated()">
                <div class="form-group">
                    <input type="text" id="username" name="username" placeholder="Email" class="form-control"/>
                </div>
                <div class="form-group">
                    <input type="password" id="password" name="password" placeholder="Password" class="form-control"/>
                </div>
                <button type="submit" class="btn btn-success">Sign in</button>
            </form>
            <div class="navbar-form navbar-right"
                 sec:authorize="isAuthenticated()">
                <div class="form-group">
                    <a>Logged user: <span sec:authentication="name">CantSeeYou</span>
                        Roles: <span sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</span></a>
                </div>
                <div class="form-group">
                    <a href="/" class="btn btn-success" th:href="@{/logout}">Logout</a>
                </div>
            </div>
        </div>
        <!--/.navbar-collapse -->
    </div>
</div>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron" layout:fragment="jumbotronContent">

</div>

<div class="container" layout:fragment="containerContent">

</div>
<!-- /container -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script th:src="@{/js/bootstrap.min.js}" src="../../js/bootstrap.min.js"></script>
</body>
</html>
